@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-yellow: #ffc300;
}

body {
  background-image: url("images/birthday.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-yellow);
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  color: var(--primary-yellow);
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #00000090;
  text-align: center;
  margin: 4rem auto 8rem auto;
  padding: 3rem 4rem;
  color: var(--primary-yellow);
  border-radius: 0.5rem;
  font-size: large;
  font-weight: bold;
}

input,
label {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin: auto;
}

input {
  margin-bottom: 0.5rem;
}

#output-box {
  color: var(--primary-yellow);
  display: block;
  margin-top: 2rem;
  padding: 1rem;
  border: solid 0.1rem white;
}

#lucky-button {
  display: block;
  padding: 0.4rem 2rem;
  margin: 1rem auto;
  border-radius: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  color: var(--primary-yellow);
  text-align: center;
  background-color: transparent;
  border: 0.1rem solid white;
}

#lucky-button:hover {
  color: white;
  background-color: var(--primary-yellow);
}
p {
  color: white;
  font-size: smaller;
}

#date-of-birth,
#lucky-number {
  background-color: transparent;
  color: white;
  display: block;
  padding: 0.35rem 1.2rem;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.2rem;
  font-size: large;
  font-weight: 400;
  border: 0.1rem solid white;
  display: block;
}

/**footers **/

/** lists **/
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.footer {
  background-color: transparent;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
